
body {
    background-color: lightgray;
}
header {
    font-size: 36px;
    min-height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-text {
    text-align: center;
}